/* 
PATRICIA GARCÍA FERNÁNDEZ - UO282210

ESPECIFICIDAD [ID] [CLASES|ATRIBUTOS|:PSEUDOCLASES] [ELEMENTOS|::PSEUDOELEMENTOS]
*/

/*Especificidad 012*/
body section:first-of-type {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
/*Especificidad 003*/
body section article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, .5fr);
    background-color: #E8EEF2; /*Hereda el color del primer plano de body */
    border-radius: 1em;
    padding: 1em;
    max-width: 39em;
    border: 0.3em solid #071330;
}
/*Especificidad 002*/
body button {
    margin-bottom: 2em;
    cursor: pointer;
}
/*Especificidad 012*/
article p[data-element="numero"] {
    grid-row: 1/1;
    grid-column: 1/1;
    margin: 0;
    align-self: end;
}
/*Especificidad 012*/
article h4[data-element="nombreCarrera"] {
    grid-row: 2/2;
    grid-column: 1/-1;
    width: 100%;
}
/*Especificidad 012*/
article p[data-element="nombreCircuito"] {
    grid-row: 3/3;
    grid-column: 1/-1;
    width: 100%;
}
/*Especificidad 012*/
article p[data-element="coordenadasCircuito"] {
    grid-row: 2/2;
    grid-column: 3/3;
    width: 100%;
    text-align: end;
    font-size: 0.8em;
    margin: 0;
    align-self: flex-start;
}
/*Especificidad 012*/
article p[data-element="fecha"] {
    grid-row: 1/1;
    grid-column: 2/2;
    width: 100%;
    text-align: center;
    margin: 0;
    align-self: end;
}
/*Especificidad 012*/
article p[data-element="lugar"] {
    grid-row: 1/1;
    grid-column: 3/3;
    width: 100%;
    text-align: end;
    margin: 0;
    align-self: end;
}
/*Especificidad 012*/
article a[data-element="enlace"] {
    grid-row: 3/3;
    grid-column: 3/3;
    justify-self: end;
    font-size: 0.8em;
    align-self: center;
    width:fit-content;
    text-align: end;
}

@media (max-width: 465px){
    /*Especificidad 003*/
    body section article {
        grid-template-rows: repeat(5, .5fr); /*Redefinicion por media query */
    }
    /*Especificidad 012*/
    article p[data-element="numero"] {
        align-self: center; /*Redefinicion por media query */
    }
    /*Especificidad 012*/
    article h4[data-element="nombreCarrera"] {
        grid-row: 4/4; /*Redefinicion por media query */
    }
    /*Especificidad 012*/
    article p[data-element="nombreCircuito"] {
        grid-row: 5/5; /*Redefinicion por media query */
    }
    /*Especificidad 012*/
    article p[data-element="coordenadasCircuito"] {
        grid-row: 3/3; /*Redefinicion por media query */
        grid-column: 1/-1; /*Redefinicion por media query */
        text-align: start; /*Redefinicion por media query */
    }
    /*Especificidad 012*/
    article p[data-element="fecha"] {
        grid-column: 2/-1; /*Redefinicion por media query */
        align-self: start; /*Redefinicion por media query */
    }
    /*Especificidad 012*/
    article p[data-element="lugar"] {
        grid-row: 2/2; /*Redefinicion por media query */
        grid-column: 1/-1; /*Redefinicion por media query */
        text-align: start; /*Redefinicion por media query */
    }
    /*Especificidad 012*/
    article a[data-element="enlace"] {
        grid-row: 5/5; /*Redefinicion por media query */
        grid-column: 3/-1; /*Redefinicion por media query */
        align-self: end; /*Redefinicion por media query */
    }
}
