body section {
    display: flex;
    flex-direction: row;
}

body section article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, .5fr);
    background-color: #E8EEF2;
    border-radius: 1em;
    padding-bottom: 1em;
    padding-inline: 1em;
    width: 20em;
}

article p[data-element="numero"] {
    grid-row: 1/1;
    grid-column: 1/1;
}

article p[data-element="nombreCarrera"] {
    grid-row: 2/2;
    grid-column: 1/-1;
    width: 100%;
}

article p[data-element="nombreCircuito"] {
    grid-row: 3/3;
    grid-column: 1/-1;
    width: 100%;
}

article p[data-element="coordenadasCircuito"] {
    grid-row: 4/4;
    grid-column: 1/-1;
    width: 100%;
}

article p[data-element="fecha"] {
    grid-row: 1/1;
    grid-column: 2/2;
}

article p[data-element="hora"] {
    grid-row: 1/1;
    grid-column: 3/3;
}
