section[data-element="listas"] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0em;
    margin: 4em 0em;
}

section[data-element="listas"] h4 {
    grid-column: 1/-1;
    grid-row: 1/1;
}

section[data-element="to-do"], section[data-element="in-progress"], section[data-element="done"] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2em;
    align-items: center;
    border-left: 0.15em solid #0C4160;
    border-top: 0.15em solid #0C4160;
    min-height: 90vh;
    background-color: #E8EEF2; /*El color del primer plano se hereda de body (no se escribe nada porque estas son las columnas del tablero de tareas */
    grid-row: 2/2;
}

section[data-element="done"] {
    border-right: 0.15em solid #0C4160;
}

h5 {
    border-bottom: 0.15em solid #0C4160;
    margin: 0;
    padding: 1em 0em;
    width: 100%;
    text-align: center;
    color: #E8EEF2;
    background-color: #0C4160;
}

section article[data-element="tarea"] {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    border: 0.15em solid #071330;
    padding: 1em;
    width: 14em;
    background-color: #ffffff /*Hereda el color de body */
}

section article[data-element="tarea"] p {
    width: 100%;
    margin: .4em 0em 0em;
}

section article[data-element="tarea"] h6[data-element="titulo"] {
    margin: .5em 0em;
}