/*Especificidad 001*/
main article[data-element='crucigrama'] {
    width: 70vw;
    min-height: 50vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
}

main article[data-element='crucigrama'] h3 {
    grid-column: 1/-1; /*Tengo que redefinir el grid porque necesito que ocupe todo, no quiero que sea parte del crucigrama*/
    grid-row: 1/1;
}

/*Especificidad 002*/
main article[data-element='crucigrama'] p {
    margin: 0;
    text-align: center;
    border: 0.02em solid #071330;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Especificidad 011*/
p[data-state="clicked"] {
    box-shadow: 0em 0em .5em #000000;
    border: 0.14em solid #738FA7;
}
/*Especificidad 011*/
p[data-state="empty"] {
    background-color: #071330; /*Hereda el color del primer plano de body (no se ve porque son las celdas que tienen que estar todas pintadas) */
}
/*Especificidad 011*/
section[data-type=botonera] {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: .7em;
    padding: 3em 0em;
}

@media (max-width: 799px){
    /*Especificidad 011*/
    section[data-type=botonera] {
        display: flex; /*Se redefine el display para que la botonera se muestre en los tamaños de movil y tablet */
        gap: 1em;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 2em;
    }
    /*Especificidad 012*/
    section[data-type=botonera] h2 {
        width: 100%;
        text-align: center;
    }
    /*Especificidad 012*/
    section[data-type=botonera] button {
        width: calc(15% - 1em);
        height: 4em;
        text-align: center;
        background-color: #071330;
        color: #E8EEF2;
    }
}