/* 
PATRICIA GARCÍA FERNÁNDEZ - UO282210

Trebuchet sans serif para contenido
Georgia serif para encabezados

ESPECIFICIDAD [ID] [CLASES|ATRIBUTOS|:PSEUDOCLASES] [ELEMENTOS|::PSEUDOELEMENTOS]

Paleta de colores:
Misty blue - #E8EEF2 --> azul del nav, de los dt y de llos th
Blue gray - #738FA7
Midnight blue - #0C4160 --> links visited y destacado en lista
Dark blue - #071330 --> textos

Tamaño movil: hasta 465px
Tamaño tablet: hasta 799px
Tamaño ordenador: a partir de 800px
*/

/*Especificidad 001*/
body {
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 1em;
    /*Los colores de primer plano y de fondo que habría por defecto son los del agente de usuario*/
    background-color: #FFFFFF;
    color: #071330;
}

/*Especificidad 001*/
header {
    /*Hereda el color de primer plano de body #071330*/
    background-color: #E8EEF2; /*El color que hereda es el #FFFFFF de body*/
}

/*Especificidad 001, 001, 001, 001, 001, 001*/
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-weight: 700;
    /*Colores de primer plano y de fondo heredados de body #071330 #FFFFFF respectivamente*/
}
/*Especificidad 001*/
h1 {
    font-size: 2em;
} 
/*Especificidad 001*/
h2 {
    font-size: 1.6em;
}
/*Especificidad 001*/
h3 {
    font-size: 1.2em;
}
/*Especificidad 001*/
video {
    width: 60%;
    height: auto;
}
/*Especificidad 001*/
audio {
    width: 60%;
}
/*Especificidad 011*/
h3:first-of-type  {
    margin-bottom: .2em;
    flex: 100%
}
/*Especificidad 012*/
section:first-of-type p {
    width: 45%;
}
/*Especificidad 001*/
a {
    text-decoration: none; /*quitar el subrayado por defecto de los enlaces*/
}
/*Especificidad 011*/
a:visited {
    /*Hereda el color de fondo de body #FFFFFF */
    color: #0C4160; /*Hereda el color de primer plano de body #071330 pero el agente de usuario le pone uno por defecto al ser visitado*/
}
/*Especificidad 011*/
a:link {
    /*Hereda el color de fondo de body #FFFFFF */
    color: #071330; /*Hereda el mismo color #071330 de primer plano de body pero por si el agente de usuario le pone un color por defecto*/
}
/*Especificidad 012, 011*/
nav a:hover, a:hover {
    /*Cambiar el color de fondo y el de primer plano cuando se hace hover por los enlaces*/
    color:#E8EEF2; /*Hereda el color de body #071330 pero se quiere hacer el efecto inverso */
    background-color: #071330; /*Hereda el color fondo de body #FFFFFF */
}
/*Especificidad 012*/
nav a:hover {
    border-radius: 1em;
}
/*Especificidad 002*/
nav a {
    padding: .5em;
}
/*Especificidad 001*/
ul {
    list-style-type: "▸";
}
/*Especificidad 001*/
li {
    padding-bottom: 0.2em;
}
/*Especificidad 013*/
ol ul:first-of-type li {
    list-style-type: "▹";
}
/*Especificidad 023*/
section:nth-of-type(2) ul li:nth-child(3) {
    /*Hereda el color de fondo #FFFFFF de body*/
    color: #0C4160; /*Hereda el color de body #071330 pero se quiere que sea este*/
}
/*Especificidad 001*/
ol {
    list-style-type: upper-roman;    
}
/*Especificidad 001*/
dt {
    /*Hereda el color de primer plano de body #071330*/
    background-color: #E8EEF2; /*Hereda el color de body #FFFFFF */
    font-weight: 600; /*Redefiniendo el weight 400 de body */
    width: fit-content; /*Para que la caja se ajuste al elemento y no quede un relleno en toda la linea*/
    padding: .2em .4em;
}
/*Especificidad 001*/
dd {
    padding-top: 0.4em;
    padding-bottom: 1em;
}
/*Especificidad 001*/
caption {
    font-weight: 600; /*Redefiniendo el weight 400 de body*/
}
/*Especificidad 001*/
th {
    /*Hereda el color de primer plano #071330 de body*/
    background-color: #E8EEF2; /*Hereda el color de fondo #FFFFFF de body */
}

section[data-element="meteoPrediction"] {
    display: flex;
    flex-direction: row;
    width: 100%;
}

section[data-element="meteoPrediction"] article {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: repeat(3, .4fr);
    background-color: #E8EEF2;
    border-radius: 1em;
    padding-inline: 1em;
    padding-bottom: .7em;
    color: #071330;
}

section[data-element="meteoPrediction"] article img {
    grid-row: 1/1;
    grid-column: 2/-1;
    width: 55%;
    height: auto;
    justify-self: end;
}

section[data-element="meteoPrediction"] article h4[data-element="fecha"] {
    grid-row: 1/1;
    grid-column: 1/1;
    text-align: center;
    align-self: center;
    width: 100%;
    margin: 0;
}

section[data-element="meteoPrediction"] article p[data-element="temperatura"] {
    grid-row: 2/2;
    grid-column: 1/1;
    width: 100%;
    margin: 0;
}

section[data-element="meteoPrediction"] article p[data-element="tiempo"] {
    grid-row: 3/3;
    grid-column: 1/-1;
    width: 100%;
    margin: 0;
}

section[data-element="meteoPrediction"] article p[data-element="description"] {
    grid-row: 4/4;
    grid-column: 1/-1;
    width: 100%;
    margin: 0;
}

section[data-element="meteoPrediction"] article p[data-element="humedad"] {
    grid-row: 2/2;
    grid-column: 2/-1;
    width: 100%;
    margin: 0;
    font-size: .9em
}

section[data-element="meteoPrediction"] article p[data-element="viento"] {
    grid-row: 3/3;
    grid-column: 2/-1;
    width: 100%;
    margin: 0;
    font-size: 0.9em
}
@media (min-width: 465px) and (max-width: 799px) {
    /*Especificidad 001*/
    h1 {
        font-size: 1.6em; /*Redefiniendo el 2em*/
    } 
    /*Especificidad 001*/
    h2 {
        font-size: 1.2em; /*Redefiniendo el 1.6em*/
    }
    /*Especificidad 001*/
    h3 {
        font-size: 1em; /*Redefiniendo el 1.2em*/
    }
    /*Especificidad 012*/
    section:first-of-type p {
        width: min-content; /*Redefiniendo el 45%*/
    }
}

@media (max-width: 465px) {
    /*Especificidad 001*/
    h1 {
        font-size: 1.4em; /*Redefiniendo el 2em*/
        text-align: center; /*Añadiendo el text align*/
    } 
    /*Especificidad 001*/
    h2 {
        font-size: 1em; /*Redefiniendo el 1.6em*/
    }
    /*Especificidad 001*/
    h3 {
        font-size: 1em; /*Redefiniendo el 1.2em*/
    }
    /*Especificidad 012*/
    section:first-of-type p {
        width: 100%; /*Redefiniendo el width de 45% */
    }
    /*Especificidad 001*/
    video {
        width: 100%; /*Redefiniendo el width del 60%*/
    }
    /*Especificidad 001*/
    audio {
        width: 100%; /*Redefiniendo el width del 60%*/
    }
}