/*
PATRICIA GARCÍA FERNÁNDEZ - UO282210

Hoja con reglas para aplicar el posicionamiento especifico al encabezado del proyecto

*/

/*Especificidad 001*/
header {
    padding: .2em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    justify-content: space-between;
}

/*Especificidad 001*/
nav {
    display: flex;
    flex-direction: row;
    gap: 1.4em;
    justify-items: end;
    align-items: center;
    overflow-x: auto;
}

/*Especificidad 011*/
section:first-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em
}
/*Especificidad 001*/
td {
    display: flex;
    justify-content: center;
}

@media (max-width: 465px) {
    /*Especificidad 001*/
    header {
        flex-direction: column; /*Redefiniendo la dirección del flex, antes row ahora column*/
        gap: .5em; /*Redefiniendo el gap de fila y columna de 2em a .5em*/
    }

    /*Especificidad 001*/
    nav {
        flex-direction: column;     /*Redefiniendo la dirección del flex, antes row ahora column */
    }

    /*Especificidad 011*/
    section:first-of-type {
        flex-direction: column; /*Redefiniendo la direccion de row a column*/
    }
}