/* 
PATRICIA GARCÍA FERNÁNDEZ - UO282210

ESPECIFICIDAD [ID] [CLASES|ATRIBUTOS|:PSEUDOCLASES] [ELEMENTOS|::PSEUDOELEMENTOS]
*/

/*Especificidad 011*/
section:first-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Especificidad 012*/
section:first-of-type h3 {
    flex: 100%;
}
/*Especificidad 012*/
section:first-of-type article {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    background-color: #738FA7; /*El color de primer plano se hereda de body */
    transform-style: preserve-3d;
    transition: transform 0.5s;
    align-items: center;
    padding: 2em .5em;
    border-radius: .5em;
    box-shadow: 0.1em 0.14em 0.36em #071330;
    cursor: pointer;
}
/*Especificidad 022, 022*/
section:first-of-type article[data-state='flip'], section:first-of-type article[data-state='revealed'] {
    transform: rotateY(180deg)
}
/*Especificidad 022*/
section:first-of-type article[data-state='abajo'] {
    transform: rotateY(0deg)
}
/*Especificidad 013*/
section:first-of-type article img {
    width: 60%;
    height: auto;
    object-fit: cover;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
/*Especificidad 013*/
section:first-of-type article h3 {
    backface-visibility: hidden;
    flex: 0 1 auto;
    text-align: center;
}