main section img {
    width: 60%;
    height: auto;
    margin-top: 4em;
}

#dinamico {
    margin-top: 4em;
    height: 60vw;
}

section[data-element="fileUpload"] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5em;
}

section[data-element="fileUpload"] p {
    width: 100%;
}

section[data-element="rutas"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

article[data-element="infoRuta"] {
    display: flex;
    flex-direction: column;
    border: 0.1em solid #071330;
    padding: 1em;
    width: 80%;
}

article[data-element="infoRuta"] p {
    margin: 0.2em;
}

article[data-element="infoRuta"] h4[data-element="nombre-ruta"] {
    align-self: center;
}

section[data-element="galeria"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 35vh;
    gap: 0em;
    overflow: auto;
}

section h4 {
    margin: 1.2em;
}

section[data-element="galeria"] h4 {
    flex: 100%;
}

section[data-element="galeria"] img {
    width: 50%;
    height: auto;
    margin: 0;
}

main section[data-element="rutas"] article[data-element="infoRuta"] li {
    color: #071330; /*No se establece el color de fondo porque lo hereda de body*/
}

section[data-element="archivosSVG"] {
    display: flex;
    flex-direction: column;
}

section[data-element="archivosSVG"] svg {
    width: 80%;
    height: 35vh;
    overflow: hidden;
}

section[data-element="archivosSVG"] h4 {
    text-align: center;
}

section[data-element="archivosSVG"] polyline {
    transform: scale(0.6);
}

section[data-element="archivosSVG"] text {
    transform: scale(0.6);
}